.info-card {
  padding: 2rem;
  background: whitesmoke;
  box-shadow: 0 8px 5px 6px #ebebeb;
  .label {
    color: #4682b4;
    font-size: 2.5rem;
    font-weight: bold;
  }
  .value {
    font-size: 2rem;
  }
}